@using TestSite.Models
@{
    User actualluser = null;
    if ((User) Session["User"] != null)
    {
        actualluser = (User) Session["User"];
    }
}

@if (actualluser == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Index", "User", null, new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "User", null, new {id = "loginLink"})</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log out", "LogOut", "User")</li>
    </ul>
}


