@using TestSite.Models
@{

    ViewBag.Title = "Neues Topic";

    string forumId = (string) ViewData["ForumId"];
    User user = new User();
    if (Session["User"] != null)
    {
        user = (User) Session["User"];
    }
}


    @using (Html.BeginForm("SaveTopic", "Forum"))
    {
        <form class="form-horizontal">
            <fieldset>
                <legend>Neues Topic</legend>
                <input type="text" hidden value="@forumId" name="ForumId"/>
                <input type="text" hidden value="@user.Id" name="CreateId"/>
                <input type="text" hidden value="false" name="Blocked"/>
                <div class="form-group">
                    <label for="inputName" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputName" name="Name" placeholder="Titel">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Inhalt</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea" name="Content"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Erstellen</button>
                    </div>
                </div>
            </fieldset>
        </form>
    }





