@using TestSite.Models
@{
    ViewBag.Title = "Startseite";
}
@{
    User actualluser = (User)Session["User"];
    

}
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
@if (actualluser == null)
{
    <h4>Bitte melden Sie sich an.</h4>
}
@if (actualluser != null)
{
    <h4>Willkommen auf der Startseite, @actualluser.Salutation @actualluser.Lastname</h4>
}
</body>