@using TestSite.Models
@{
    ViewBag.Title = "Neue Mail";

    User user = new User();
    if (Session["User"] != null)
    {
        user = (User) Session["User"];
    }
}


    using (Html.BeginForm("SaveMail", "Mail"))
    {
        <form class="form-horizontal">
            <fieldset>
                <legend>Neue Nachricht</legend>

                @if (user.Roles == "Admin" || user.Roles == "Support")
                {
                    <div class="form-group">
                        <label for="select" class="col-lg-2 control-label">Art der Nachricht</label>
                        <div class="col-lg-10">
                            <select class="form-control" id="select" name="Type">
                                <option>user</option>
                                <option>system</option>
                                <option>broadcast</option>
                            </select>
                        </div>
                    </div>
                }
                else
                {
                    <input hidden type="text" name="Type" value="user" />
                }
                <div class="form-group">
                    <label for="inputSubject" class="col-lg-2 control-label">Betreff</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="Subject" id="inputSubject" placeholder="Betreff..." required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">An (Forum-Mail)</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputEmail" name="ToId" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Nachricht</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" name="Message" rows="10" id="textArea"></textarea>
                    </div>
                </div>
                <input hidden type="text" name="CreateId" value="@user.Id"/>
                <input hidden type="text" name="IsRead" value="false" />
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-default">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Abschicken</button>
                    </div>
                </div>
            </fieldset>
        </form>
    }










